{% extends 'base.html.twig' %}

{% block title %}{{ movie is empty ? 'Not found' : movie.title }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if movie is not empty %}
            <h1>{{ movie.title }}</h1>

            <img class="float-end" src="{{ movie.poster }}" alt="{{ movie.title }} cover">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Id : {{ movie.id }}</li>
                <li class="list-group-item">IMDb ID : {{ movie.imdbId }}</li>
                <li class="list-group-item">Rated : {{ movie.rated }}</li>
                <li class="list-group-item">Plot : {{ movie.plot }}</li>
                <li class="list-group-item">Released at : {{ movie.releasedAt|date('d M Y') }}</li>
                <li class="list-group-item">Genre : {{ movie.genres|map(genre => genre.name)|join(', ') }}</li>
            </ul>
        {% else %}
            <h1>Not found</h1>
        {% endif %}
    </div>
{% endblock %}
